# URL pública accesible desde el navegador del cliente
NEXT_PUBLIC_API_URL=http://localhost:4000

# URL interna para comunicación Server-to-Server dentro de la red Docker
INTERNAL_API_URL=http://backend:4000
